.formularioCorpo{
	border: 1;
	margin-top: 50px;
}
.formularioLogin{
	margin-left: 33%;
	margin-top: 90px;
	padding:10px;
	margin-right:35%;
	width: 400px;
	height: 200px;
	background: #B0E0E6;
	
}
.botoes{
	padding: 2px;
	
	
}
.formLogin{
	padding: 10px;
	margin: 50px;
}
.formCadastro{
	margin: 40px;
}
.btnSalvar{
	margin-top: 20px;
}
.btnFinalizar{
	padding: 10px;
	 margin: 50px;
}